<div class="sub1-component">
  <span>sub1 Component</span>
  <app-sub2-component></app-sub2-component>
  <app-sub2-component></app-sub2-component>
  <app-sub2-component></app-sub2-component>
  <app-sub2-component></app-sub2-component>

</div>
